.pc{
    width: 100%;
    height: auto;
    float: left;
}
.header{
    width: 100%;
    height: auto;
    float: left;
    padding: 0 50px;
    box-sizing: border-box;
    aside{
        width: 100%;
        height: 50px;
        float: left;
        background-color: beige;
        .left_area{
            width: auto;
            height: 100%;
            float: left;
            .icon_area{
                width: 60px;
                height: 100%;
                float: left;
                background-color: salmon;
            }
            .recent_search{
                width: 165px;
                height: 50px;
                float: left;
                background-color: sandybrown;
                .txt_area{
                    width: 85px;
                    height: auto;
                    float: left;
                    margin-left: 20px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: aqua;
                    .txt_mask{
                        width: 100%;
                        height: 15px;
                        float: left;
                        position: relative;
                        overflow: hidden;
                        .txt_list{
                            width: 100%;
                            height: auto;
                            float: left;
                            position:absolute;
                            top: 0;
                            left: 0;
                            &>.item{
                                width: 100%;
                                height: 15px;
                                float: left;
                                .txt_num{
                                    width: auto;
                                    height: auto;
                                    float: left;
                                    line-height: 15px;
                                    color: beige;
                                    font-size: 12px;
                                    margin-right: 10px;
                                }
                                .txt_text{
                                    width: 60px;
                                    height: auto;
                                    float: left;
                                    line-height: 15px;
                                    font-size: 12px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                 
                }
                .icon_area{
                    width: 15px;
                    height: 100%;
                    float: right;
                    background-color: aquamarine;
                }
            }
        }
        .right_area{
            width: auto;
            height: 100%;
            float: right;
            .right_nav{
                width: 290px;
                height: 100%;
                float: left;
                &>.list{
                    width: 100%;
                    height: 100%;
                    float: left;
                    display: flex;
                    justify-content: space-between;
                    &>.item{
                        width: auto;
                        height: 100%;
                        float: left;
                        position: relative;
                        .txt_area{
                            width: auto;
                            height: auto;
                            float: left;
                            &>.txt{
                                width: auto;
                                height: auto;
                                float: left;
                                line-height: 50px;
                                font-size: 12px;
                            }
                            &>.icon_area{
                                width: 20px;
                                height: 50px;
                                float: left;
                                background-color: salmon;
                            }
                        }
                        .sub_nav{
                            width: 100%;
                            height: 100px;
                            float: left;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background-color: aqua;
                        }
                    }
                }
            }
        }
    }
    nav{
        width: 100%;
        height: 125px;
        float: left;
        background-color: cadetblue;
        .inner_nav{
            width: 100%;
            height: 40px;
            float: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            .left_area{
                width: auto;
                height: 100%;
                float: left;
                .logo{
                    width: 115px;
                    height: 100%;
                    float: left;
                    background-color: aquamarine;
                }
            }
            .center_area{
                width: auto;
                max-width: 830px;
                height: 40px;
                float: left;
                position: absolute;
                left: 50%;;
                transform: translateX(-50%);
                background-color: palegreen;
                .list{
                    width: auto;
                    height: auto;
                    float: left;
                    &>.item{
                        width: auto;
                        height: auto;
                        float: left;
                        position: relative;
                        .top_menu{
                            width: auto;
                            height: 40px;
                            float: left;
                            padding: 0 10px;
                            box-sizing: border-box;
                            .txt{
                                width: auto;
                                height: auto;
                                line-height: 40px;
                                float: left;
                                font-size: 12px;
                            }
                        }
                        .sub_menu{
                            width: 100%;
                            height: auto;
                            float: left;
                            position:absolute;
                            top: 100%;
                            left: 0;
                            border-radius: 10px;
                            padding: 10px 0;
                            box-sizing: border-box;
                            background-color: gainsboro;
                            &>.list{
                                width: 100%;
                                height: auto;
                                float: left;
                                &>.item{
                                    width: 100%;
                                    height: auto;
                                    float:left;
                                    margin-bottom: 10px;
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                    &>.txt{
                                        width: 100%;
                                        height: auto;
                                        line-height: 20px;
                                        text-align: center;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right_area{
                width: auto;
                height: 100%;
                float: right;
                .search_area{
                    width: 140px;
                    height: 100%;
                    float: left;
                    border-radius: 20px;
                    background-color: beige;
                    margin-right: 10px;
                    .input_area{
                        width: 90px;
                        height: 20px;
                        float: left;
                        position: relative;
                        top: 50%;
                        margin-left: 10px;
                        transform: translateY(-50%);
                        background-color: palevioletred;
                    }
                    .btn_area{
                        width: 40px;
                        height: 40px;
                        float: left;
                        background-color: pink;
                    }
                }
                .cart_icon{
                    width: 40px;
                    height: 40px;
                    float: left;
                    background-color: wheat;
                }
            }
        }
    }
}
.footer{
    width: 100%;
    height: auto;
    float: left;
    .footer_area{
        width: 100%;
        height: 720px;
        float: left;
        .img_area{
            width: 100%;
            height: 450px;
            float: left;
            background-color: aqua;
        }
        .footer_nav_area{
            width: 100%;
            height: 270px;
            float: left;
            background-color: #eff;
            .footer_nav{
                width: 1770px;
                height: 170px;
                float: left;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                &>.list{
                    width: 100%;
                    height: auto;
                    float: left;
                    display: flex;
                    justify-content: space-between;
                    &>.item{
                        width: auto;
                        height: auto;
                        float: left;
                        &.customer{
                            width:155px;
                        }
                        &.account{
                            width:145px;
                        }
                        &.return{
                            width: 240px;
                        }
                        &.info{
                            width: 615px;
                        }
                        &.menu{
                            width: 95px;
                        }
                        &>.tit{
                            width: 100%;
                            height: auto;
                            float: left;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1;
                            margin-bottom: 15px;
                        }
                        &>.stress_txt{
                            width: 100%;
                            height: auto;
                            float: left;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 1;
                            margin-bottom: 10px;
                        }
                        &>.txt{
                            width: 100%;
                            height: auto;
                            float: left;
                            font-size: 12px;
                            line-height: 1;
                            margin-bottom: 10px;
                            &.copy{
                                color: #ccc;
                            }
                            &>.red{
                                color: #f39d9d;
                            }
                        }
                        &>.btn_area{
                            width: auto;
                            height: 35px;
                            float: left;
                            padding: 10px;
                            border: 1px solid #ccc;
                            box-sizing: border-box;
                            background-color: #fff;
                            &>.btn_txt{
                                width: 100%;
                                height: auto;
                                float: left;
                                line-height: 1;
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
.index{
    width: 100%;
    height: auto;
    float: left;
}